/* Resetting default margins and paddings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(to bottom right, #4A00E0, #8E2DE2);
}

h2,h5,h4 {
  color: #FFF;
}

.container {
  margin: 50px auto;
  padding: 20px;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 20px;
  backdrop-filter: blur(10px);
  max-width: 90%;
}

.header_h1 {
  color: #FFF;
  text-align: center;
  margin-bottom: 20px;
}


.container-Ag,
.container-ids {
  margin-bottom: 20px;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: none;
  outline: none;
  background: rgba(255, 255, 255, 0.2);
  color: #FFF;
}

.button-container {
  display: flex;
  justify-content: space-between;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.2);
  color: #FFF;
  cursor: pointer;
}

button:hover {
  background: rgba(255, 255, 255, 0.3);
}

#output {
  margin-top: 20px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  color: #FFF;
}

.tabs {
  display: flex;
  justify-content: space-between;
}

.tab {
  padding: 10px 20px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  color: #FFF;
  cursor: pointer;
}

.tab:hover {
  background: rgba(255, 255, 255, 0.3);
}

.content {
  display: none;
}

.copy-button {
  margin-right: 10px;
  margin-bottom: 10px;
}

.footer {
  text-align: center;
  color: #FFF;
}

.logo0 img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.logo0 a {
  text-decoration: none;
  color: #FFF;
}

.logo0 a:hover {
  opacity: 0.7;
}

.footer a {
  color: #FFF;
}

.footer a:hover {
  opacity: 0.7;
}

/* CSS for container0 */
.container0 {
  margin: 50px auto;
  padding: 20px;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 20px;
  backdrop-filter: blur(10px);
  max-width: 90%;
}

/* CSS for header buttons */
.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.header-button {
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

/* Different colors for each header button */
.header-button:nth-child(1) {
  background: #4CAF50; /* Green */
}

.header-button:nth-child(2) {
  background: #f44336; /* Red */
}

.header-button:nth-child(3) {
  background: #2196F3; /* Blue */
}

/* CSS for content tabs */
.content {
  display: none;
}

/* Media Query for Mobile */
@media screen and (max-width: 600px) {
  .container,
  .container0 {
    margin: 20px auto; /* Adjusting margins for mobile */
  }
}
